@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

/*****************************
******************* VARIABLES
*****************************/

/* colors */

:root {
}

/* fonts */

:root {
  --main-font-stack: "Open Sans", sans-serif;
}

/* dimensions */

:root {
}

/*****************************
************************ BASE
*****************************/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*****************************
********************* GENERAL
*****************************/

body {
  height: 100%;
  font-family: var(--main-font-stack);
}
